@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel__next {
  right: -70px !important;
}

.carousel__prev {
  left: -70px !important;
}

.carousel__next,
.carousel__prev {
  color: #fff;
  border: 1.5px solid #fff;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.carousel__next:hover,
.carousel__prev:hover {
  color: #ba9cff;
  border: 1.5px solid #ba9cff;
  transition: all 0.2s ease-in-out;
}

.carousel__pagination-button::after {
  background-color: rgba(255, 255, 255, 0.1);
}

.carousel__pagination-button--active::after {
  background-color: #e59cff;
}

.carousel__pagination-button:hover::after {
  background-color: rgba(229, 156, 255, 0.3);
}
